<template>
  <!-- App.vue -->

<v-app>
      <!-- App.vue -->
      
              <!-- <alert/>
              <v-dialog v-model="alert" absolute fullscreen hide-overlay transition="scale-transition">
                <search @closed="closeDialog"/>
              </v-dialog> -->

              <keep-alive>
                <v-dialog v-model="dialog" fullscreen hide-overlay persistant transitio="dialog-bottom-transition">
                    <component :is="currentComponent" @closed="setDialogStatus"></component>
                </v-dialog>
              </keep-alive>
            <v-navigation-drawer
              app v-model="drawer" absolute color="white" style="margin-top:50px;">
              
              <v-list-item class="mt-5" v-if="!guest"
                ><v-list-item-avatar size="45">
                  <v-img
                    src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fsrc.id%2Ffavicon.png&imgrefurl=https%3A%2F%2Fsrc.id%2F&tbnid=L3qmQrvkdB9HwM&vet=12ahUKEwj09_DwnKLtAhVZUn0KHcMmDeQQMygHegUIARCzAQ..i&docid=ilCcx_2V1ig8KM&w=256&h=256&q=image%20src&safe=strict&ved=2ahUKEwj09_DwnKLtAhVZUn0KHcMmDeQQMygHegUIARCzAQ"
                  ></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title><b>Smithy Jagger</b></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
             

              <v-divider></v-divider>

              <v-list v-for="(item, index) in menus" :key="`menu-` + index" nav>
                <v-list-item-group
                  v-model="group"
                  active-class="deep-purple--text text--accent-4"
                >
                  <v-list-item :to="item.route"
                    ><v-list-item-icon>
                      <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-divider></v-divider>
                  
                </v-list-item-group>
              </v-list>
                <div v-if="guest" class="ml-2 mr-2">
                    <v-btn  @click.stop="guest = !guest" block color="primary" class="mb-2 mt-4 " @click="setDialogComponent('login')">
                      <v-icon left>mdi-lock-open</v-icon>
                      Login
                    </v-btn>
                    <v-btn block color="success">
                      <v-icon left>mdi-account</v-icon>
                      Register
                    </v-btn>
                  </div>
              <template v-slot:append v-if="!guest" style="margin-top: 10px;">
                <div class="pa-2" >
                  <v-btn block color="red" dark >
                    <v-icon left>mdi-lock</v-icon>
                    Logout
                  </v-btn>
                </div>
              </template>
          
            </v-navigation-drawer>
            <v-app-bar
              app
              absolute
              dark
              color=#1eabc0
              v-if="isHome"
            >
              <v-app-bar-nav-icon
                @click.stop="drawer = !drawer"
              ></v-app-bar-nav-icon>

              <v-toolbar-title>Sanbercode App</v-toolbar-title>
              
  
              <v-spacer></v-spacer>

              <v-btn icon>
                <v-badge color="orange" overlap v-if="transactions>0">
                  <template v-slot:badge> <span>{{transactions}}</span> </template>
                  <v-icon>mdi-cash-multiple</v-icon>
                </v-badge>
                <v-icon v-else>mdi-cash-multiple</v-icon>
              </v-btn>
             
              <v-text-field 
                slot="extension"
                hide-details
                append-icon="mdi-microphone"
                flat
                label="Search"
                prepend-inner-icon="mdi-magnify"
                solo-inverted
                @click="setDialogComponent('search')"
                class="mb-4"></v-text-field>
            </v-app-bar>
            <v-app-bar app absolute dark color=#1eabc0 v-if="!isHome">
                <v-btn icon @click.stop="$router.go(-1)">
                  <v-icon>mdi-arrow-left-circle</v-icon>
                </v-btn>
                <v-spacer></v-spacer>

                <v-btn icon>
                  <v-badge color="orange" overlap v-if="transactions>0">
                    <template v-slot:badge> <span>{{transactions}}</span> </template>
                    <v-icon>mdi-cash-multiple</v-icon>
                  </v-badge>
                  <v-icon v-else>mdi-cash-multiple</v-icon>
                </v-btn>
            </v-app-bar>
            
            

            <v-main class="mt-5">
              <v-card-text>
                <v-container fluid>
                  <v-slide-y-transition>
                    <router-view> </router-view>
                  </v-slide-y-transition>
                </v-container>
              </v-card-text>
            </v-main>

            <v-footer absolute app>
              <v-card-text class="text-center">
                &copy; {{ new Date().getFullYear() }} -
                <strong>SanbercodeApp</strong>
              </v-card-text>
            </v-footer>
       
    </v-app>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import Alert from './components/Alert.vue'
  import Search from './components/Search.vue'
  import Login from './components/Login.vue'
export default {
  name : 'App',
  components: {
    Alert : () => import('./components/Alert'),
    Search : () => import('./components/Search'),
    Login : () => import('./components/Login')
  },
  data: () => ({
    drawer: false,
    menus: [
      {
        title: "Home",
        icon: "mdi-home",
        route: "/",
      },
      {
        title: "Campaigns",
        icon: "mdi-hand-heart",
        route: "/campaigns",
      },
      
    ],
    
    group: null,
    
    
    
  }),

  computed: {
    isHome (){
      return (this.$route.path==='/' || this.$route.path==='/home')
    },
    ...mapGetters({
      transactions : 'transaction/transactions',
      guest        : 'auth/guest',
      user         : 'auth/user',
      dialogStatus : 'dialog/status',
      currentComponent : 'dialog/component',
      currentAlert : 'alert/status'
    }),
    dialog: {
      get (){
        return this.dialogStatus
      },
      set (value){
        this.setDialogStatus(value)
      }
    },
    
    
  },
  methods: {
    ...mapActions({
      setDialogStatus : 'dialog/setStatus',
      setDialogComponent : 'dialog/setComponent'
    })
  },



}
</script>