<template>
  <div class="container ">
    <div class="row justify-content-center ">
      <div class="col-md-8">
        <div class="card" style="margin-top:80px" >
          <div class="card-header">Blogs</div>

          <div class="card-body">Ini komponen Blogs di Vue JS</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");
  },
};
</script>
