<template>
	
        
            <v-card v-if="campaign.id" style="margin-top:-20px;">
               
                    <v-img v-bind:src="campaign.image" class="white--text" height="250px">
                    <v-card-title
                        class="fill-height align-end"
                        v-text="campaign.title"
                    >
                    </v-card-title>
                    </v-img>
               

                <v-card-text>
                    <v-simple-table dense>
                        <tr>
                            <td><v-icon>mdi-home-city</v-icon> Alamat</td>
                            <td>{{campaign.address}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-hand-heart</v-icon> Terkumpul</td>
                            <td class="blue--text align-right">Rp. {{campaign.required.toLocaleString('id-ID')}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-cash</v-icon> Dibutuhkan</td>
                            <td class="red--text align-right">Rp. {{campaign.collected.toLocaleString('id-ID')}}</td>
                        </tr>
                    </v-simple-table>

                    Description :
                    <br><br>
                    {{campaign.description}}

                    <div class="pa-2">
                        <v-btn block color="primary" class="mb-1" v-on:click.prevent="donate"
                        >
                            <v-icon left>mdi-transfer</v-icon>
                            DONATE
                        </v-btn>					
				    </div>

                    

                </v-card-text>
                    
            </v-card>
        
    
</template>

<script>
    import {mapMutations, mapActions} from 'vuex' 
    export default {
    
	data:() => ({
            campaign:{},
    }),

    created(){
        this.go()
        console.log(this.campaign)
    },
    methods:{
        go(){
            let { id } = this.$route.params
            let url='/api/campaign/'+id
            axios.get(url)
            .then((response) => {
                let { data } = response.data
                this.campaign = data.campaign
                console.log(data.campaign)
            })
            .catch((error)=>{
                let { responses } = error
                console.log(responses)
            })
                
        },
        ...mapMutations({
            tambahTransaksi: 'transaction/insert'
        }),
        ...mapActions({
            setAlert : 'alert/set',
            setDialogComponent : 'dialog/setComponent'
        }),
        donate(){
            this.tambahTransaksi()
            this.setAlert({
                status : true,
                color  : 'primary',
                text : 'Transaksi Berhasil'
            })
            this.setDialogComponent('alert')
        }

        
    }  
}   
    
        
    



</script>
