<template>
  <div class="container">
    <v-container class="ma-0 pa-0" style="margin-top:-40px" grid-list-sm>
    <v-subheader>
      All Campaigns
    </V-subheader>
      <v-layout wrap>
        <v-flex
          v-for="(campaign) in campaigns"
          :key="`campaigns-` + campaign.id"
          xs6>
          <v-card :to="'/campaign/' + campaign.id">
            <v-img :src="campaign.image" class="white--text">
              <v-card-title
                class="fill-height align-end"
                v-text="campaign.title"
              >
              </v-card-title>
            </v-img>
            <v-card-actions >
				
                <v-progress-linear
                  value="percent"
                  color="blue-grey"
                  height="6"
                  v-bind:buffer-value="campaign.required"
                 
                ></v-progress-linear>
                      
            </v-card-actions>
            
            
              <v-card-actions>
                <v-icon>mdi-cash</v-icon>
                <span>Rp. {{campaign.collected.toLocaleString('id-ID')}}</span>
                <v-spacer></v-spacer>
                <span class="subheading mr-3">{{ campaign.collected / campaign.required * 100 }} %</span>
                
              </v-card-actions>			
    				
          </v-card>
        </v-flex>
      </v-layout>
    <v-pagination
      v-model="page"
      @input="go"
      :length="lengthPage"
      :total-visible="6">
    </v-pagination>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    campaigns: [],
    page: 0,
    lengthPage: 0,
  }),
  created() {
    this.go()
  },
  methods: {
    go() {
      let url = "/api/campaign?page=" + this.page;
      axios.get(url)
        .then((response) => {
          let { data } = response.data

          this.campaigns = data.campaigns.data
          this.page = data.campaigns.current_page
          this.lengthPage = data.campaigns.last_page

        })
        .catch((error) => {
          let { response } = error;
          console.log(responses);
        })
    }
  }
};
</script>
