<template>
  <div class="container ma-0">
    <v-container class="ma-0 pa-0 " grid-list-sm>
      <div class="text-right" style="margin-top:-40px">
        <v-btn small text to="/campaigns" class="blue--text">
          All-Campaigns <v-icon>mdi-chevron-right</v-icon></v-btn
        >
      </div>
      <v-layout wrap>
        <v-flex
          v-for="campaign in campaigns"
          v-bind:key="campaign.id"
          xs4>
          <v-card :to="'/campaign/' + campaign.id">
            <v-img :src="campaign.image" class="white--text" height="200px">
              <v-card-title
                class="fill-height align-end"
                v-text="campaign.title">
              </v-card-title>
              
            </v-img>
           <!--  <campaign-item v-bind:item="campaign"/> -->
                  <v-card-actions>
                    <v-icon>mdi-cash</v-icon>
                    <span>Rp. {{campaign.collected.toLocaleString('id-ID')}}</span>
                    <v-spacer></v-spacer>
                    <span class="subheading mr-3">{{ campaign.collected / campaign.required * 100 }}%</span>
                  
                </v-card-actions> 
            
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container class="ma-0 pa-0 " grid-list-sm>
      <div class="text-right ">
        <v-btn small text to="/blogs" class="blue--text">
          All-Blogs <v-icon>mdi-chevron-right</v-icon></v-btn
        >
      </div>
      <v-layout wrap>
       <v-carousel hide-delimiters height="350">
          <v-carousel-item
            v-for="(blog, i) in blogs"
            :key="`blog-` + blog.id"
          ><v-img :src="blog.image" class="fill-height">
              <v-container fill-height fluid pa-0 ma-0>
                <v-layout fill-height align-end>
                  <v-flex xs12 mx-2>
                    <span class="headline white--text" v-text="blog.title"></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
          </v-carousel-item>
        </v-carousel>
        
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
    
  data: () => ({
    campaigns: [],
    blogs: [],
   
  
  }),

  created() {
    axios
      .get('/api/campaigns/random/3')
      .then((response) => {
        console.log(response);
        var { data } = response.data;
        this.campaigns = data.campaigns;
       

        
      })
      .catch((error) => {
        let { response } = error;
        console.log(response);
      })

      axios.get('api/blog/random/2')
        .then((response) => {

          let { data } = response.data
          this.blogs = data.blogs

        })
        .catch ((error)=> {
          let {response} = error
          console.log(response)
        })
       
  },
  components: {
      CampaignItem: ()=> import('../components/CampaignItem')
  },
   computed: {
   percent: function(){
      
        return  (this.collected / this.required* 100);
      
      console.log(percent);
     }, 
  },
}
</script>
