<template>
	<v-snackbar
                  v-model="alert"
                  color="primary"
                  top
                  timeout="6000"
                  multi-line
                  text
                  centered
                  elevation="24"
                  absolut
                  
                ><b>
                  {{ text }}</b>

                  <template v-slot:action="{ attrs }">
                    <v-btn
                      color="primary"
                      text
                      v-bind="attrs"
                      @click.native="close"
                    >
                      <b>Close</b>
                    </v-btn>
                  </template>
                </v-snackbar>
</template>

<script>
	import {mapGetters, mapActions} from 'vuex'

	export default {
		name : 'alert',
		computed : {
			...mapGetters({
				status : 'alert/status',
				color : 'alert/color',
				text : 'alert/text'
			}),
			alert: {
				get (){
					return this.status
				},
				set(value){
					this.setAlert({
						status : value,
					})
				}

			}
		},
		methods: {
			...mapActions({
				setAlert : 'alert/set'
			}),
			close(){
				this.$emit('closed', false)
				this.setAlert({
					status : false
				})
			}
		}
	}
</script>