<template>
	
			

				<v-card-text class="fill-width">
					<div>
						<v-progress-linear
							v-model="percent"
							v-bind:buffer-value="campaign.required"
						></v-progress-linear>
					</div>				
				</v-card-text>
				
					
			
		
</template>

<script>
export default {
	name : 'campaign-item',
	props:['item'],
	
	computed: {
		percent: function(){
			let precentage = parseInt(
					(this.campaigns.collected / this.campaigns.required)* 100
				);
			 console.log(precentage);
			 return precentage;
			 
		},
	},
};
</script>