<template>
	
     
	      <v-card>
	        <v-toolbar
	          dark
	          color=#1eabc0
	        >
	          <v-btn
	            icon
	            dark
	            @click.native="close"
	          >
	            <v-icon>mdi-close</v-icon>
	          </v-btn>
	          <v-text-field
				hide-details
				append-icon="mdi-microphone"
				flat
				autofocus
				label="search"
				prepend-inner-icon="mdi-magnify"
				v-model="keyword"
				@input="doSearch"
	          ></v-text-field>
	        </v-toolbar>
	        <v-card-text>
	        	<v-subheader v-if="keyword.length>0">
	        	Result search "{{ keyword }}"
	        	</v-subheader>
	        	<v-alert
	        		:value="campaigns.length==0 && keyword.length>0"
	        		color="warning"
	        		outlined
	        	>
	        		Sorry, but no result were found.
	        	</v-alert>
	        	<v-container class="ma-0 pa-0" grid-list-sm>
	        		<v-layout wrap>
	        			<v-flex v-for="campaign in campaigns" :key="`campaign-`+campaign.id" xs6>
	        			<v-card :to="'/campaign/' + campaign.id" @click.native="close">
				            <v-img :src="campaign.image" class="white--text" height="200px">
				              <v-card-title
				                class="fill-height align-end"
				                v-text="campaign.title">
				              </v-card-title>
				              
				            </v-img>
				           <!--  <campaign-item v-bind:item="campaign"/> -->
				                  <v-card-actions>
				                    <v-icon>mdi-cash</v-icon>
				                    <span>Rp. {{campaign.collected.toLocaleString('id-ID')}}</span>
				                    <v-spacer></v-spacer>
				                    <span class="subheading mr-3">{{ campaign.collected / campaign.required * 100 }}%</span>
				                  
				                </v-card-actions> 
				            
				          </v-card>
	        				
	        			</v-flex>
	        		</v-layout>
	        	</v-container>
	        	
	        </v-card-text>
	    </v-card>
	
</template>

<script>
	export default {
		name : 'search',

		data (){
			return {
				keyword: '',
				campaigns: []
			}
		},
		methods: {
			doSearch(){
				let keyword = this.keyword
				if (keyword.length>0) {
					let url = '/api/campaign/search/'+keyword;
					axios.get(url)
					.then ((response) => {
						let {data} = response.data
						this.campaigns =data.campaigns
						console.log(this.campaigns)
					})
					.catch((error)=>{
						console.log(error)
					})
				}else{
					this.campaigns = []
				}
			},
			close(){
				this.$emit('closed', false)
			}
			
		}
		
	}
</script>